
.buildContainer {
    flex-basis: 450px;
    flex-grow: 1;
    border: 1.5px solid var(--color-card-build);
    box-shadow: 3px 3px 5px var(--color-dropshadow-card-build);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.pathContainer {
    flex-basis: 400px;
    flex-grow: 1;
    border: 1.5px solid var(--color-card-path);
    box-shadow: 3px 3px 5px var(--color-dropshadow-card-path);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.stackContainer {
    flex-basis: 475px;
    flex-grow: 1;
    border: 1.5px solid var(--color-card-stack);
    box-shadow: 3px 3px 5px var(--color-dropshadow-card-stack);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.cardDate {
    color: var(--color-date);
}