.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 5px;
}


.center {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.addPost {
    margin: 0px 0px 25px 0px;
}

.addPostLink {
    font-weight: 500;
}

@media (max-width: 600px) {
    .container {
        margin-top: 20px;
    }
}